.ShopItem
{
    display: flex;
    justify-content: center;
    width: 100%;
    position: relative;

    &:hover{
        .bg-image{            
            opacity: 0.7;
        }

        .add-cart{
            display: flex;
            justify-content: center;
        }
    }

    .content
    {
        height: 100%;
        width: 85%;

        .bg-image
        {
            height: 90%;
            background-position: center;
            background-size: cover;
        }

        .footer
        {
            height: 10%;
            display: flex;
            justify-content: space-between;
        }

        .name,.price
        {
            padding: 2%  2% ;
        }
    }

    .add-cart
    {
        width: 60%;
        position: absolute;
        background-color: white;
        color: black;
        border: 1.5px solid black;
        // opacity: 0.8;
        bottom: 60px;
        left: 20%;
        display: none;

        &:hover{
            color: white;
            background-color: black;
            opacity: 1;
          
        }
    }
}