.header
{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 18vh;  
    font-size: 20px;
    margin-top: -10px;

    .logo
    {
        margin-left: 50px;
        height: 10%;
        width: auto;   
    }

    .options
    {
        display: flex;
        align-items: center;
        margin-right: 50px;
        position: relative;

        .shop
        {
            padding-right: 40px;
        }

        .contact
        {
            padding-right: 30px;
        }

        .signIn
        {
            cursor: pointer;
            padding-right: 40px;
        }
    }
}



