.header
{
    display: flex;
    justify-content: space-between;
    
    .logo
    {
        padding: 40px 40px;
    }

    .options
    {
        display: flex;
        align-items: center;

        .shop
        {
            padding: 0px 30px;
        }

        .contact
        {
            padding-right: 35px;
        }

        .signIn
        {
            cursor: pointer;
            padding-right: 30px;
        }
    }
}